- var homepage_url = "./index.html"
- var about_us_url = "./about-us.html"
- var mission_url = "./mission.html"
- var charities_url = "./charities.html"
- var how_help_url = "./how-help.html"

- var etsy_url = "https://www.etsy.com/people/dxofzbsy"
- var insta_url = "https://www.instagram.com/_upstyling/"
- var email_url = "mailto:upstyling.ga@gmail.com"
- var facebook_url = "https://www.facebook.com/upstylingco/?modal=admin_todo_tour"

mixin navbar
    div#topnav
        //- Mobile Hamburger Menu
        div.mobile-version
            a(href=`${homepage_url}`)
                p.logotext upstyling
            div#hamburger
                div.patty 
                div.patty 
                div.patty 
        //- Desktop Top Navbar
        div.desktop-version
            a(href=`${homepage_url}`)
                p.logotext upstyling
            a(href=`${about_us_url}`)
                p ABOUT US
            a(href=`${mission_url}`)
                p MISSION
            a(href=`${charities_url}`)
                p CHARITIES
            a(href=`${how_help_url}`)
                p HOW YOU CAN HELP
            div.spacer
            a(href=`${insta_url}`)
                img(src="../imgs/top-nav/insta-icon.svg")
            a(href=`${etsy_url}`)
                img(src="../imgs/top-nav/etsy-icon.svg")
            a(href=`${facebook_url}`)
                img(src="../imgs/top-nav/facebook-icon.svg")
    //- Fullscreen Nav Menu for Mobile
    div#mobile-menu
        img#close-icon(src="../imgs/top-nav/close-icon.svg")
        a(href=`${homepage_url}`)
            p.logotext upstyling
        div.breakline
        a(href=`${homepage_url}`)
            p HOME
        a(href=`${about_us_url}`)
            p ABOUT US
        a(href=`${mission_url}`)
            p MISSION
        a(href=`${charities_url}`)
            p CHARITIES
        a(href=`${how_help_url}`)
            p HOW YOU CAN HELP
        div.social-icons
            a(href=`${insta_url}`)
                img(src="../imgs/top-nav/insta-icon.svg")
            a(href=`${etsy_url}`)
                img(src="../imgs/top-nav/etsy-icon.svg")
            a(href=`${facebook_url}`)
                img(src="../imgs/top-nav/facebook-icon.svg")


mixin footer
    div#footer-container
        div#footer-inner
            p.footer-logo Upstyling
            p.copyright © 2020, Design & Code by 
                a(href="http://leoncheng.dev/") Leon Cheng



//- -------------------------------------------------------

doctype html
head
    title Upstyling
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
    +navbar
    div#nav-spacer
    block content
    +footer